<div class="content">
    <div class="wrap">            
            <h1>Заголовок h1</h1>
            <p>Можайский район по праву называется одним из красивейших в Московской области. Он славится своей историей, церквями, монастырями и святыми, а также знаменит и «<a href="#">Можайским морем</a>» – водохранилищем, являющимся стратегическим запасом питьевой воды для столицы Российского государства</p>
            <p>Сегодня, на территории Можайского района расположены 2 городских и 9 сельских поселений, которые включают в себя 359 населенных пунктов. Здесь сохранились уникальные исторические памятники. По району протекают 22 реки, общая протяженность которых составляет 562 км, а 106,4 тыс. гектаров территории заняты лесами.</p>
           <img class="img-left" src="http://placeimg.com/260/180/nature" alt="">
            <p>Можайск – один из древнейших городов Подмосковья. Раскопки, проведенные Институтом археологии Академии Наук Российской Федерации на территории Можайского Кремля, выявили ранние слои городского поселения (XI-XII в.в.), свидетельствующие о его давней истории.</p>
            <p>Существует несколько гипотез происхождения названия города. Одна из версий гласит о том, что имя связано с племенем балтов, живших здесь в первые века нашей эры. Можойя – по-балтски – малая. Так была названа протекающая здесь сюда пришли славяне в конце 1 тыс. нашей эры это название перешло и на город.</p>

            <h2>Заголовок h2</h2>
            <p>Можайский муниципальный район имеет многоотраслевую промышленность, выпускающую десятки наименований различной продукции:</p>
            <ol>
                <li>во многих городах России, странах ближнего и дальнего зарубежья известны Можайское молоко - завод стерилизованного молока «Можайский» - единственный завод в России по выпуску стерилизованного молока в стеклянных бутылках;</li>
                <li>ЗАО «Можайское экспериментально-механическое предприятие», выпускающее буровые станки, мощные насосы различного назначения
                    <ol>
                        <li>металлоконструкции и оборудование для машиностроения, оборудование для глубокой переработки древесины – ленточные пилорамы</li>
                        <li>линии для сращивания заготовок древесины, целый ряд фрезерных</li>
                        <li>токарных и шлифовочных станков для переработки древесины, кроме того</li>
                        <li>производит широкий ассортимент товаров народного потребления из металла</li>
                    </ol>
                </li>
                <li>старейшее в России предприятие по выпуску медицинского инструментария ОАО «Можайский медико-инструментальный завод», номенклатура изделий составляет около тысячи наименований;</li>
            </ol>
            <p>Можайский муниципальный район имеет многоотраслевую промышленность, выпускающую десятки наименований различной продукции:</p>
            <ul>
                <li>во многих городах России, странах ближнего и дальнего зарубежья известны Можайское молоко - завод стерилизованного молока «Можайский» - единственный завод в России по выпуску стерилизованного молока в стеклянных бутылках;</li>
                <li>ЗАО «Можайское экспериментально-механическое предприятие», выпускающее буровые станки, мощные насосы различного назначения
                    <ul>
                        <li>металлоконструкции и оборудование для машиностроения, оборудование для глубокой переработки древесины – ленточные пилорамы</li>
                        <li>линии для сращивания заготовок древесины, целый ряд фрезерных</li>
                        <li>токарных и шлифовочных станков для переработки древесины, кроме того</li>
                        <li>производит широкий ассортимент товаров народного потребления из металла</li>
                    </ul>
                </li>
                <li>старейшее в России предприятие по выпуску медицинского инструментария ОАО «Можайский медико-инструментальный завод», номенклатура изделий составляет около тысячи наименований;</li>
            </ul>
            <p>На Можайской земле родились народный художник, академик С.В. Герасимов, поэт А. Жаров, писатель Б. Пильняк, известная династия художников Гороховых.</p>
            <blockquote>Можайцы трепетно хранят историю родного края и каждый день стараются сделать его светлее, чище, богаче и краше.”
                <footer>Пример цитаты</footer>
            </blockquote>
            <p>Динамично развивается свиноводство на базе ЗАО «Тропарево». По состоянию на 01.01.2015 года в хозяйстве насчитывается 170 тыс. голов свиней.</p>
            <h3>Заголовок h3</h3>
            <p>Сегодня Можайский район является любимым местом отдыха как москвичей, так и туристов из других регионов. Благодаря богатому историческому наследию, удобному географическому расположению и хорошей экологической обстановке, в Можайском районе сложись благоприятные условия для развития въездного туризма.</p>
            <h4>Заголовок h4</h4>
            <p>Сегодня Можайский район является любимым местом отдыха как москвичей, так и туристов из других регионов. Благодаря богатому историческому наследию, удобному географическому расположению и хорошей экологической обстановке, в Можайском районе сложись благоприятные условия для развития въездного туризма.</p>
            <table class="table">
                <tr>
                    <th>Заголовок</th>
                    <th>Заголовок</th>
                </tr>
                <tr class="table-subtitle">
                    <td >Название события</td>
                    <td>500 руб.</td>
                </tr>
                 <tr>
                    <td>Название события</td>
                    <td>500 руб.</td>
                </tr>
                 <tr>
                    <td>Название события</td>
                    <td>500 руб.</td>
                </tr>
                 <tr>
                    <td>Название события</td>
                    <td>500 руб.</td>
                </tr>
            </table>

            <table class="table--head">
                <tr>
                    <th>Заголовок</th>
                    <th>Заголовок</th>
                </tr>
                <tr class="table-subtitle">
                    <td>Название события</td>
                    <td>500 руб.</td>
                </tr>
                 <tr>
                    <td>Название события</td>
                    <td>500 руб.</td>
                </tr>
                 <tr>
                    <td>Название события</td>
                    <td>500 руб.</td>
                </tr>
                 <tr>
                    <td>Название события</td>
                    <td>500 руб.</td>
                </tr>
            </table>
    </div>
</div>