<div class="content">
    <div class="wrap">
        <h1>Молоко ДХ Фрутоняня 200мл 2,5% обогащенное</h1>
        
        //= card-block.html

        <p>ООО «АльянсГрупп» - осуществляет свою деятельность по оптовой торговле широким ассортиментом продовольственных и непродовольственных товаров под торговой маркой «АльянсГрупп», созданной в 1996 году.</p>

        <p>В настоящее время ООО «АльянсГрупп» является  одним из лидирующих дистрибьютеров, осуществляющих оптовые комплексные автотранспортные поставки товаров в регионы Ямало-Ненецкого и Ханты-Мансийского автономных округов, а также по Свердловской, Челябинской, Курганской и Тюменской областям.</p>
        
    </div>
</div>