<div class="card-top">
    <div class="card-slider">
        <div class="card-slider-main">
            <a data-hash="slide1" href="#">
                <img src="/tmp/card-img.jpg" alt="">
            </a>
            <a data-hash="slide2" href="#">
                <img src="/tmp/card-img.jpg" alt="">
            </a>
            <a data-hash="slide3" href="#">
                <img src="/tmp/card-img.jpg" alt="">
            </a>
        </div>
        <div class="card-slider-nav">
            <a href="#slide1">
                <img src="/tmp/card-img.jpg" alt="">
            </a>
            <a href="#slide2">
                <img src="/tmp/card-img.jpg" alt="">
            </a>
            <a href="#slide3">
                <img src="/tmp/card-img.jpg" alt="">
            </a>
        </div>
    </div>
    <div class="card-descr">
        <div class="card-descr__price">
            300 <span>руб./упак</span>
        </div>
        <div class="card-descr__options">
            <p>В упаковке: 10 шт.</p>
            <p>Возраст: 8 месяцев</p>
            <p>Вес: 200 грамм</p>
            <p>Страна производитель: Россия</p>
            <p>Торговая марка: ФрутоНяня</p>
        </div>
        <button class="">Заказать</button>
    </div>
</div>
