<div class="catalog-list">
    <div class="catalog-one">
        <div class="catalog-one__title"><a href="#">Йогурты и творожки</a></div>
        <div class="catalog-one">
            <table>
                <tr class="catalog-one__row">
                    <td class="catalog-one-img">
                        <img src="/tmp/catalog-img.jpg" alt="">
                    </td>
                    <td>
                        <a data-id="24" href="/card.html">Йогурт Кампина Нежный 1,2% 100г с соком Малина-земляника</a>
                    </td>
                    <td style="width: 70px;">
                        <div class="catalog-one__pack">40
                        </div>
                        <span>шт./упак.</span>
                    </td>
                    <td style="width: 80px;">
                        <button class="catalog-one__minus"></button>
                        <input class="catalog-one__quantity" type="text" value="1">
                        <button class="catalog-one__plus"></button>
                    </td>
                    <td style="width: 80px;">
                        <div class="catalog-one__price">3 840</div>
                        <span>руб./упак.</span>
                    </td>
                    <td>
                        <button class="catalog-one__buy">Заказать</button>
                    </td>
                </tr>
                <tr class="catalog-one__row">
                    <td class="catalog-one-img">
                        <img src="/tmp/catalog-img.jpg" alt="">
                    </td>
                    <td>
                        <a data-id="25" href="/card.html">Йогурт Кампина Нежный 1,2% 100г с соком Малина-земляника</a>
                    </td>
                    <td style="width: 70px;">
                        <div class="catalog-one__pack">40
                        </div>
                        <span>шт./упак.</span>
                    </td>
                    <td style="width: 80px;">
                        <button class="catalog-one__minus"></button>
                        <input class="catalog-one__quantity" type="text" value="1">
                        <button class="catalog-one__plus"></button>
                    </td>
                    <td style="width: 80px;">
                        <div class="catalog-one__price">3 840</div>
                        <span>руб./упак.</span>
                    </td>
                    <td>
                        <button class="catalog-one__buy">Заказать</button>
                    </td>
                </tr>
                <tr class="catalog-one__row">
                    <td class="catalog-one-img">
                        <img src="/tmp/catalog-img.jpg" alt="">
                    </td>
                    <td>
                        <a data-id="26" href="/card.html">Йогурт Кампина Нежный 1,2% 100г с соком Малина-земляника</a>
                    </td>
                    <td style="width: 70px;">
                        <div class="catalog-one__pack">40
                        </div>
                        <span>шт./упак.</span>
                    </td>
                    <td style="width: 80px;">
                        <button class="catalog-one__minus"></button>
                        <input class="catalog-one__quantity" type="text" value="1">
                        <button class="catalog-one__plus"></button>
                    </td>
                    <td style="width: 80px;">
                        <div class="catalog-one__price">3 840</div>
                        <span>руб./упак.</span>
                    </td>
                    <td>
                        <button class="catalog-one__buy">Заказать</button>
                    </td>
                </tr>
                <tr class="catalog-one__row">
                    <td class="catalog-one-img">
                        <img src="/tmp/catalog-img.jpg" alt="">
                    </td>
                    <td>
                        <a data-id="27" href="/card.html">Йогурт Кампина Нежный 1,2% 100г с соком Малина-земляника</a>
                    </td>
                    <td style="width: 70px;">
                        <div class="catalog-one__pack">40
                        </div>
                        <span>шт./упак.</span>
                    </td>
                    <td style="width: 80px;">
                        <button class="catalog-one__minus"></button>
                        <input class="catalog-one__quantity" type="text" value="1">
                        <button class="catalog-one__plus"></button>
                    </td>
                    <td style="width: 80px;">
                        <div class="catalog-one__price">3 840</div>
                        <span>руб./упак.</span>
                    </td>
                    <td>
                        <button class="catalog-one__buy">Заказать</button>
                    </td>
                </tr>
                <tr class="catalog-one__row">
                    <td class="catalog-one-img">
                        <img src="/tmp/catalog-img.jpg" alt="">
                    </td>
                    <td>
                        <a data-id="28" href="/card.html">Йогурт Кампина Нежный 1,2% 100г с соком Малина-земляника</a>
                    </td>
                    <td style="width: 70px;">
                        <div class="catalog-one__pack">40
                        </div>
                        <span>шт./упак.</span>
                    </td>
                    <td style="width: 80px;">
                        <button class="catalog-one__minus"></button>
                        <input class="catalog-one__quantity" type="text" value="1">
                        <button class="catalog-one__plus"></button>
                    </td>
                    <td style="width: 80px;">
                        <div class="catalog-one__price">3 840</div>
                        <span>руб./упак.</span>
                    </td>
                    <td>
                        <button class="catalog-one__buy">Заказать</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="catalog-one">
        <div class="catalog-one__title"><a href="#">Йогурты и творожки</a></div>
        <div class="catalog-one">
            <table>
                <tr class="catalog-one__row">
                    <td class="catalog-one-img">
                        <img src="/tmp/catalog-img.jpg" alt="">
                    </td>
                    <td>
                        <a href="/card.html">Йогурт Кампина Нежный 1,2% 100г с соком Малина-земляника</a>
                    </td>
                    <td style="width: 70px;">
                        <div class="catalog-one__pack">40
                        </div>
                        <span>шт./упак.</span>
                    </td>
                    <td style="width: 80px;">
                        <button class="catalog-one__minus"></button>
                        <input class="catalog-one__quantity" type="text" value="1">
                        <button class="catalog-one__plus"></button>
                    </td>
                    <td style="width: 80px;">
                        <div class="catalog-one__price">3 840</div>
                        <span>руб./упак.</span>
                    </td>
                    <td>
                        <button class="catalog-one__buy">Заказать</button>
                    </td>
                </tr>
                <tr class="catalog-one__row">
                    <td class="catalog-one-img">
                        <img src="/tmp/catalog-img.jpg" alt="">
                    </td>
                    <td>
                        <a href="/card.html">Йогурт Кампина Нежный 1,2% 100г с соком Малина-земляника</a>
                    </td>
                    <td style="width: 70px;">
                        <div class="catalog-one__pack">40
                        </div>
                        <span>шт./упак.</span>
                    </td>
                    <td style="width: 80px;">
                        <button class="catalog-one__minus"></button>
                        <input class="catalog-one__quantity" type="text" value="1">
                        <button class="catalog-one__plus"></button>
                    </td>
                    <td style="width: 80px;">
                        <div class="catalog-one__price">3 840</div>
                        <span>руб./упак.</span>
                    </td>
                    <td>
                        <button class="catalog-one__buy">Заказать</button>
                    </td>
                </tr>
                <tr class="catalog-one__row">
                    <td class="catalog-one-img">
                        <img src="/tmp/catalog-img.jpg" alt="">
                    </td>
                    <td>
                        <a href="/card.html">Йогурт Кампина Нежный 1,2% 100г с соком Малина-земляника</a>
                    </td>
                    <td style="width: 70px;">
                        <div class="catalog-one__pack">40
                        </div>
                        <span>шт./упак.</span>
                    </td>
                    <td style="width: 80px;">
                        <button class="catalog-one__minus"></button>
                        <input class="catalog-one__quantity" type="text" value="1">
                        <button class="catalog-one__plus"></button>
                    </td>
                    <td style="width: 80px;">
                        <div class="catalog-one__price">3 840</div>
                        <span>руб./упак.</span>
                    </td>
                    <td>
                        <button class="catalog-one__buy">Заказать</button>
                    </td>
                </tr>
                <tr class="catalog-one__row">
                    <td class="catalog-one-img">
                        <img src="/tmp/catalog-img.jpg" alt="">
                    </td>
                    <td>
                        <a href="/card.html">Йогурт Кампина Нежный 1,2% 100г с соком Малина-земляника</a>
                    </td>
                    <td style="width: 70px;">
                        <div class="catalog-one__pack">40
                        </div>
                        <span>шт./упак.</span>
                    </td>
                    <td style="width: 80px;">
                        <button class="catalog-one__minus"></button>
                        <input class="catalog-one__quantity" type="text" value="1">
                        <button class="catalog-one__plus"></button>
                    </td>
                    <td style="width: 80px;">
                        <div class="catalog-one__price">3 840</div>
                        <span>руб./упак.</span>
                    </td>
                    <td>
                        <button class="catalog-one__buy">Заказать</button>
                    </td>
                </tr>
                <tr class="catalog-one__row">
                    <td class="catalog-one-img">
                        <img src="/tmp/catalog-img.jpg" alt="">
                    </td>
                    <td>
                        <a href="/card.html">Йогурт Кампина Нежный 1,2% 100г с соком Малина-земляника</a>
                    </td>
                    <td style="width: 70px;">
                        <div class="catalog-one__pack">40
                        </div>
                        <span>шт./упак.</span>
                    </td>
                    <td style="width: 80px;">
                        <button class="catalog-one__minus"></button>
                        <input class="catalog-one__quantity" type="text" value="1">
                        <button class="catalog-one__plus"></button>
                    </td>
                    <td style="width: 80px;">
                        <div class="catalog-one__price">3 840</div>
                        <span>руб./упак.</span>
                    </td>
                    <td>
                        <button class="catalog-one__buy">Заказать</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="pagination">
    <a href="" class="pagination-prev"></a>
    <a href="#">1</a>
    <span>2</span>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <span class="del">...</span>
    <a href="#" class="pagination-next"></a>
</div>