<div class="category">
    <a href="#" class="category-one">
        <img src="http://placeimg.com/280/180/nature" alt="">
        <div class="category-one__title">
            <span>01.</span> Продукты питания
        </div>
    </a>
    <a href="#" class="category-one">
        <img src="http://placeimg.com/280/180/nature" alt="">
        <div class="category-one__title">
            <span>02.</span> Заморозка
        </div>
    </a>
    <a href="#" class="category-one">
        <img src="http://placeimg.com/280/180/nature" alt="">
        <div class="category-one__title">
            <span>03.</span> Кондитерские изделия
        </div>
    </a>
    <a href="#" class="category-one">
        <img src="http://placeimg.com/280/180/nature" alt="">
        <div class="category-one__title">
            <span>04.</span> Промышленные товары
        </div>
    </a>
    <a href="#" class="category-one">
        <img src="http://placeimg.com/280/180/nature" alt="">
        <div class="category-one__title">
            <span>05.</span> Свежие овощи, фрукты
        </div>
    </a>
    <a href="#" class="category-one">
        <img src="http://placeimg.com/280/180/nature" alt="">
        <div class="category-one__title">
            <span>06.</span> Табачные изделия
        </div>
    </a>
</div>