<div class="footer">
    <div class="wrap">
        <table>
            <tr>
                <td width="200px"><a href="#" class="footer__map">Карта сайта</a></td>
                <td colspan="2" class="footer-menu">
                    <a href="#">Главная</a>
                    <a href="#">О компании</a>
                    <a href="#">Каталог</a>
                    <a href="#">Лицензии и сертификаты</a>
                    <a href="#">Контакты</a>
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="footer__copy">© ООО «АльянсГрупп»<br>2017</td>
                <td class="footer__phone">
                    <span>Телефон</span>
                    +7 (343) 123-45-67  
                </td>
                <td class="footer__adres">
                    620000, Россия, г. Екатеринбург, <br>
                    ул. Ленина 1, офис 1  <a href="#">карта проезда</a>
                </td>
                <td class="footer__made">
                   Создание сайта<br>
                    <a href="#">«СофтМажор»</a>
                </td>
            </tr>
        </table>
        
        
        

        

        

        
    </div>
</div>