<div class="head">
    <div class="wrap">
        <div class="head-menu">
            <a class="head-menu__one" href="#">О компании</a>
            <a class="head-menu__one" href="#">Лицензии и сертификаты</a>
            <a class="head-menu__one" href="#">Контакты</a>
        </div>
        <a href="#" class="head-logo">
            АльянсГрупп
        </a>
        <div class="head-centr">
            <div class="head-centr__phone">+7 (343) 123-45-67</div>
            <a class="head-centr__order" href="#">Заказать звонок</a>
            <a class="head-centr__mail" href="#">Написать письмо</a>
        </div>
        <div class="head-right">
            <a href="#" class="head-cart"><i></i>Корзина<span></span></a>
            <a href="#login" class="open_modal head-user"><i></i>Вход</a>
        </div>
    </div>
</div>