<div class="side">
    <ul class="side-outer">
        <li class="side-one">
            <a href="#">Продукты питания</a>
            <ul>
                <li><a href="#">Цена недели</a></li>
                <li><a href="#">Новогодний ассортимент</a></li>
                <li><a href="#">Акции</a></li>
                <li><a href="#">Табачные изделия</a></li>
                <li><a href="#">Чай натуральный</a></li>
                <li><a href="#">Кофе и кофейные напитки</a></li>
                <li><a href="#">Напитки (вода, сок)</a></li>
                <li><a href="#">Консервы мясные</a></li>
                <li><a href="#">Консервы рыбные</a></li>
                <li><a href="#">Консервы овощные</a></li>
                <li><a href="#">Консервы фруктово-ягодные</a></li>
                <li><a href="#">Масло растительное</a></li>
                <li><a href="#">Масло сливочное</a></li>
                <li><a href="#">Молочная продукция</a>
                <li><a href="#">Сырная продукция</a>
                <li><a href="#">Сахар, соль</a>
                <li><a href="#">Макаронные изделия</a>
                <li><a href="#">Мука, крупа</a>
                <li><a href="#">Продукты быстрого</a>
                <li><a href="#">приготовления</a>
                <li><a href="#">Детское питание</a>
                <li><a href="#">Вкусовая консервация</a>
                <li><a href="#">Японская кухня</a>
                <li><a href="#">Диабетическая продукция</a>
                <li><a href="#">Сухие завтраки</a>
                <li><a href="#">Пищевые добавки</a>
            </ul>
        </li>
        <li class="side-one">
            <a href="#">заморозка</a>
            <ul>
                <li><a href="#">Цена недели</a></li>
                <li><a href="#">Новогодний ассортимент</a></li>
                <li><a href="#">Акции</a></li>
                <li><a href="#">Табачные изделия</a></li>
                <li><a href="#">Чай натуральный</a></li>
                <li><a href="#">Кофе и кофейные напитки</a></li>
                <li><a href="#">Напитки (вода, сок)</a></li>
                <li><a href="#">Консервы мясные</a></li>
                <li><a href="#">Консервы рыбные</a></li>
                <li><a href="#">Консервы овощные</a></li>
                <li><a href="#">Консервы фруктово-ягодные</a></li>
                <li><a href="#">Масло растительное</a></li>
                <li><a href="#">Масло сливочное</a></li>
                <li><a href="#">Молочная продукция</a>
                <li><a href="#">Сырная продукция</a>
                <li><a href="#">Сахар, соль</a>
                <li><a href="#">Макаронные изделия</a>
                <li><a href="#">Мука, крупа</a>
                <li><a href="#">Продукты быстрого</a>
                <li><a href="#">приготовления</a>
                <li><a href="#">Детское питание</a>
                <li><a href="#">Вкусовая консервация</a>
                <li><a href="#">Японская кухня</a>
                <li><a href="#">Диабетическая продукция</a>
                <li><a href="#">Сухие завтраки</a>
                <li><a href="#">Пищевые добавки</a>
            </ul>
        </li>
        <li class="side-one">
            <a href="#">КОНДИТЕРСКИЕ ИЗДЕЛИЯ</a>
            <ul>
                <li><a href="#">Цена недели</a></li>
                <li><a href="#">Новогодний ассортимент</a></li>
                <li><a href="#">Акции</a></li>
                <li><a href="#">Табачные изделия</a></li>
                <li><a href="#">Чай натуральный</a></li>
                <li><a href="#">Кофе и кофейные напитки</a></li>
                <li><a href="#">Напитки (вода, сок)</a></li>
                <li><a href="#">Консервы мясные</a></li>
                <li><a href="#">Консервы рыбные</a></li>
                <li><a href="#">Консервы овощные</a></li>
                <li><a href="#">Консервы фруктово-ягодные</a></li>
                <li><a href="#">Масло растительное</a></li>
                <li><a href="#">Масло сливочное</a></li>
                <li><a href="#">Молочная продукция</a>
                <li><a href="#">Сырная продукция</a>
                <li><a href="#">Сахар, соль</a>
                <li><a href="#">Макаронные изделия</a>
                <li><a href="#">Мука, крупа</a>
                <li><a href="#">Продукты быстрого</a>
                <li><a href="#">приготовления</a>
                <li><a href="#">Детское питание</a>
                <li><a href="#">Вкусовая консервация</a>
                <li><a href="#">Японская кухня</a>
                <li><a href="#">Диабетическая продукция</a>
                <li><a href="#">Сухие завтраки</a>
                <li><a href="#">Пищевые добавки</a>
            </ul>
        </li>
        <li class="side-one">
            <a href="#">ПРОМЫШЛЕННЫЕ ТОВАРЫ</a>
            <ul>
                <li><a href="#">Цена недели</a></li>
                <li><a href="#">Новогодний ассортимент</a></li>
                <li><a href="#">Акции</a></li>
                <li><a href="#">Табачные изделия</a></li>
                <li><a href="#">Чай натуральный</a></li>
                <li><a href="#">Кофе и кофейные напитки</a></li>
                <li><a href="#">Напитки (вода, сок)</a></li>
                <li><a href="#">Консервы мясные</a></li>
                <li><a href="#">Консервы рыбные</a></li>
                <li><a href="#">Консервы овощные</a></li>
                <li><a href="#">Консервы фруктово-ягодные</a></li>
                <li><a href="#">Масло растительное</a></li>
                <li><a href="#">Масло сливочное</a></li>
                <li><a href="#">Молочная продукция</a>
                <li><a href="#">Сырная продукция</a>
                <li><a href="#">Сахар, соль</a>
                <li><a href="#">Макаронные изделия</a>
                <li><a href="#">Мука, крупа</a>
                <li><a href="#">Продукты быстрого</a>
                <li><a href="#">приготовления</a>
                <li><a href="#">Детское питание</a>
                <li><a href="#">Вкусовая консервация</a>
                <li><a href="#">Японская кухня</a>
                <li><a href="#">Диабетическая продукция</a>
                <li><a href="#">Сухие завтраки</a>
                <li><a href="#">Пищевые добавки</a>
            </ul>
        </li>
    </ul>
</div>