<div class="content">
    <div class="wrap">

        <h2>ООО «АльянсГрупп»</h2>
        <p>Екатеринбург, Комсомольская, 72а — 4 офис; 2 этаж</p>
        <p>+7 (343) 123-45-67</p>

        <div id="map"></div>

        <div class="contact-form">
            <h2>Форма заказа</h2>
            <form action="" id="message" >
                <div class="form-line">
                    <div class="form-col">
                        <input type="text" name="name" placeholder="ФИО*">
                    </div>
                    <div class="form-col"></div>
                </div>
                <div class="form-line">
                    <div class="form-col">
                        <input type="text" name="phone" placeholder="Телефон*">
                    </div>
                    <div class="form-col"></div>
                </div>
                <div class="form-line">
                    <div class="form-col">
                        <textarea name="message" placeholder="Сообщение"></textarea>
                    </div>
                    <div class="form-col"></div>
                </div>
                <div class="form-line">
                    <div class="form-col">
                        <button class="">Отправить</button>
                    </div>
                    <div class="form-col">
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>