<div class="cart-empty">Корзина пуста</div>
<div class="cart-list">
    <table>
        <tr class="catalog-one__row">
            <td class="catalog-one-img">
                <div class="cart-list__delete"></div>
                <img src="/tmp/catalog-img.jpg" alt="">
            </td>
            <td>
                <a class="cart-list__title" data-id="24" href="/card.html">Йогурт Кампина Нежный 1,2% 100г с соком Малина-земляника</a>
            </td>
            <td style="width: 70px;">
                <div class="catalog-one__pack">40</div>
                <span>шт./упак.</span>
            </td>
            <td style="width: 80px;">
                <button class="catalog-one__minus"></button>
                <input class="catalog-one__quantity" type="text" value="1">
                <button class="catalog-one__plus"></button>
            </td>
            <td style="width: 80px;">
                <div class="catalog-one__price">3 840</div>
                <span>руб./упак.</span>
            </td>
            <td style="width: 100px;">
                <div class="catalog-one__summ">
                    <b>384 000</b> руб.
                </div>
            </td>
        </tr>
        <tr class="catalog-one__row">
            <td class="catalog-one-img">
                <div class="cart-list__delete"></div>
                <img src="/tmp/catalog-img.jpg" alt="">
            </td>
            <td>
                <a class="cart-list__title" data-id="25" href="/card.html">Йогурт Кампина Нежный 1,2% 100г с соком Малина-земляника</a>
            </td>
            <td style="width: 70px;">
                <div class="catalog-one__pack">40</div>
                <span>шт./упак.</span>
            </td>
            <td style="width: 80px;">
                <button class="catalog-one__minus"></button>
                <input class="catalog-one__quantity" type="text" value="1">
                <button class="catalog-one__plus"></button>
            </td>
            <td style="width: 80px;">
                <div class="catalog-one__price">3 840</div>
                <span>руб./упак.</span>
            </td>
            <td style="width: 100px;">
                <div class="catalog-one__summ">
                    <b>384 000</b> руб.
                </div>
            </td>
        </tr>
        <tr class="catalog-one__row">
            <td class="catalog-one-img">
                <div class="cart-list__delete"></div>
                <img src="/tmp/catalog-img.jpg" alt="">
            </td>
            <td>
                <a class="cart-list__title" data-id="26" href="/card.html">Йогурт Кампина Нежный 1,2% 100г с соком Малина-земляника</a>
            </td>
            <td style="width: 70px;">
                <div class="catalog-one__pack">40</div>
                <span>шт./упак.</span>
            </td>
            <td style="width: 80px;">
                <button class="catalog-one__minus"></button>
                <input class="catalog-one__quantity" type="text" value="1">
                <button class="catalog-one__plus"></button>
            </td>
            <td style="width: 80px;">
                <div class="catalog-one__price">3 840</div>
                <span>руб./упак.</span>
            </td>
            <td style="width: 100px;">
                <div class="catalog-one__summ">
                    <b>384 000</b> руб.
                </div>
            </td>
        </tr>
        <tr class="total">
            <td colspan="3"></td>
            <td>Итого</td>
            <td colspan="2" class="total-summ">783 000 руб.</td>
        </tr>
    </table>
</div>

