/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@chek-h-name: 'chek-h';
@chek-h-x: 0px;
@chek-h-y: 0px;
@chek-h-offset-x: 0px;
@chek-h-offset-y: 0px;
@chek-h-width: 20px;
@chek-h-height: 20px;
@chek-h-total-width: 91px;
@chek-h-total-height: 74px;
@chek-h-image: '../img/sprite.png';
@chek-h: 0px 0px 0px 0px 20px 20px 91px 74px '../img/sprite.png' 'chek-h';
@chek-name: 'chek';
@chek-x: 40px;
@chek-y: 40px;
@chek-offset-x: -40px;
@chek-offset-y: -40px;
@chek-width: 20px;
@chek-height: 20px;
@chek-total-width: 91px;
@chek-total-height: 74px;
@chek-image: '../img/sprite.png';
@chek: 40px 40px -40px -40px 20px 20px 91px 74px '../img/sprite.png' 'chek';
@cheked-h-name: 'cheked-h';
@cheked-h-x: 0px;
@cheked-h-y: 20px;
@cheked-h-offset-x: 0px;
@cheked-h-offset-y: -20px;
@cheked-h-width: 20px;
@cheked-h-height: 20px;
@cheked-h-total-width: 91px;
@cheked-h-total-height: 74px;
@cheked-h-image: '../img/sprite.png';
@cheked-h: 0px 20px 0px -20px 20px 20px 91px 74px '../img/sprite.png' 'cheked-h';
@cheked-name: 'cheked';
@cheked-x: 20px;
@cheked-y: 20px;
@cheked-offset-x: -20px;
@cheked-offset-y: -20px;
@cheked-width: 20px;
@cheked-height: 20px;
@cheked-total-width: 91px;
@cheked-total-height: 74px;
@cheked-image: '../img/sprite.png';
@cheked: 20px 20px -20px -20px 20px 20px 91px 74px '../img/sprite.png' 'cheked';
@edit-name: 'edit';
@edit-x: 60px;
@edit-y: 32px;
@edit-offset-x: -60px;
@edit-offset-y: -32px;
@edit-width: 15px;
@edit-height: 15px;
@edit-total-width: 91px;
@edit-total-height: 74px;
@edit-image: '../img/sprite.png';
@edit: 60px 32px -60px -32px 15px 15px 91px 74px '../img/sprite.png' 'edit';
@menu-arrow-name: 'menu-arrow';
@menu-arrow-x: 81px;
@menu-arrow-y: 32px;
@menu-arrow-offset-x: -81px;
@menu-arrow-offset-y: -32px;
@menu-arrow-width: 4px;
@menu-arrow-height: 7px;
@menu-arrow-total-width: 91px;
@menu-arrow-total-height: 74px;
@menu-arrow-image: '../img/sprite.png';
@menu-arrow: 81px 32px -81px -32px 4px 7px 91px 74px '../img/sprite.png' 'menu-arrow';
@menu-more-name: 'menu-more';
@menu-more-x: 36px;
@menu-more-y: 60px;
@menu-more-offset-x: -36px;
@menu-more-offset-y: -60px;
@menu-more-width: 11px;
@menu-more-height: 7px;
@menu-more-total-width: 91px;
@menu-more-total-height: 74px;
@menu-more-image: '../img/sprite.png';
@menu-more: 36px 60px -36px -60px 11px 7px 91px 74px '../img/sprite.png' 'menu-more';
@pager-next-name: 'pager-next';
@pager-next-x: 12px;
@pager-next-y: 60px;
@pager-next-offset-x: -12px;
@pager-next-offset-y: -60px;
@pager-next-width: 12px;
@pager-next-height: 12px;
@pager-next-total-width: 91px;
@pager-next-total-height: 74px;
@pager-next-image: '../img/sprite.png';
@pager-next: 12px 60px -12px -60px 12px 12px 91px 74px '../img/sprite.png' 'pager-next';
@pager-next-name: 'pager-next';
@pager-next-x: 60px;
@pager-next-y: 47px;
@pager-next-offset-x: -60px;
@pager-next-offset-y: -47px;
@pager-next-width: 12px;
@pager-next-height: 12px;
@pager-next-total-width: 91px;
@pager-next-total-height: 74px;
@pager-next-image: '../img/sprite.png';
@pager-next: 60px 47px -60px -47px 12px 12px 91px 74px '../img/sprite.png' 'pager-next';
@pager-prev-name: 'pager-prev';
@pager-prev-x: 24px;
@pager-prev-y: 60px;
@pager-prev-offset-x: -24px;
@pager-prev-offset-y: -60px;
@pager-prev-width: 12px;
@pager-prev-height: 12px;
@pager-prev-total-width: 91px;
@pager-prev-total-height: 74px;
@pager-prev-image: '../img/sprite.png';
@pager-prev: 24px 60px -24px -60px 12px 12px 91px 74px '../img/sprite.png' 'pager-prev';
@phone-name: 'phone';
@phone-x: 0px;
@phone-y: 60px;
@phone-offset-x: 0px;
@phone-offset-y: -60px;
@phone-width: 12px;
@phone-height: 14px;
@phone-total-width: 91px;
@phone-total-height: 74px;
@phone-image: '../img/sprite.png';
@phone: 0px 60px 0px -60px 12px 14px 91px 74px '../img/sprite.png' 'phone';
@radio-act-h-name: 'radio-act-h';
@radio-act-h-x: 20px;
@radio-act-h-y: 40px;
@radio-act-h-offset-x: -20px;
@radio-act-h-offset-y: -40px;
@radio-act-h-width: 20px;
@radio-act-h-height: 20px;
@radio-act-h-total-width: 91px;
@radio-act-h-total-height: 74px;
@radio-act-h-image: '../img/sprite.png';
@radio-act-h: 20px 40px -20px -40px 20px 20px 91px 74px '../img/sprite.png' 'radio-act-h';
@radio-act-name: 'radio-act';
@radio-act-x: 0px;
@radio-act-y: 40px;
@radio-act-offset-x: 0px;
@radio-act-offset-y: -40px;
@radio-act-width: 20px;
@radio-act-height: 20px;
@radio-act-total-width: 91px;
@radio-act-total-height: 74px;
@radio-act-image: '../img/sprite.png';
@radio-act: 0px 40px 0px -40px 20px 20px 91px 74px '../img/sprite.png' 'radio-act';
@radio-h-name: 'radio-h';
@radio-h-x: 40px;
@radio-h-y: 20px;
@radio-h-offset-x: -40px;
@radio-h-offset-y: -20px;
@radio-h-width: 20px;
@radio-h-height: 20px;
@radio-h-total-width: 91px;
@radio-h-total-height: 74px;
@radio-h-image: '../img/sprite.png';
@radio-h: 40px 20px -40px -20px 20px 20px 91px 74px '../img/sprite.png' 'radio-h';
@radio-name: 'radio';
@radio-x: 40px;
@radio-y: 0px;
@radio-offset-x: -40px;
@radio-offset-y: 0px;
@radio-width: 20px;
@radio-height: 20px;
@radio-total-width: 91px;
@radio-total-height: 74px;
@radio-image: '../img/sprite.png';
@radio: 40px 0px -40px 0px 20px 20px 91px 74px '../img/sprite.png' 'radio';
@slider-left-name: 'slider-left';
@slider-left-x: 81px;
@slider-left-y: 0px;
@slider-left-offset-x: -81px;
@slider-left-offset-y: 0px;
@slider-left-width: 10px;
@slider-left-height: 16px;
@slider-left-total-width: 91px;
@slider-left-total-height: 74px;
@slider-left-image: '../img/sprite.png';
@slider-left: 81px 0px -81px 0px 10px 16px 91px 74px '../img/sprite.png' 'slider-left';
@slider-right-name: 'slider-right';
@slider-right-x: 81px;
@slider-right-y: 16px;
@slider-right-offset-x: -81px;
@slider-right-offset-y: -16px;
@slider-right-width: 10px;
@slider-right-height: 16px;
@slider-right-total-width: 91px;
@slider-right-total-height: 74px;
@slider-right-image: '../img/sprite.png';
@slider-right: 81px 16px -81px -16px 10px 16px 91px 74px '../img/sprite.png' 'slider-right';
@sm-name: 'sm';
@sm-x: 60px;
@sm-y: 16px;
@sm-offset-x: -60px;
@sm-offset-y: -16px;
@sm-width: 16px;
@sm-height: 16px;
@sm-total-width: 91px;
@sm-total-height: 74px;
@sm-image: '../img/sprite.png';
@sm: 60px 16px -60px -16px 16px 16px 91px 74px '../img/sprite.png' 'sm';
@track-name: 'track';
@track-x: 60px;
@track-y: 0px;
@track-offset-x: -60px;
@track-offset-y: 0px;
@track-width: 21px;
@track-height: 16px;
@track-total-width: 91px;
@track-total-height: 74px;
@track-image: '../img/sprite.png';
@track: 60px 0px -60px 0px 21px 16px 91px 74px '../img/sprite.png' 'track';
@user-name: 'user';
@user-x: 20px;
@user-y: 0px;
@user-offset-x: -20px;
@user-offset-y: 0px;
@user-width: 20px;
@user-height: 20px;
@user-total-width: 91px;
@user-total-height: 74px;
@user-image: '../img/sprite.png';
@user: 20px 0px -20px 0px 20px 20px 91px 74px '../img/sprite.png' 'user';
@spritesheet-width: 91px;
@spritesheet-height: 74px;
@spritesheet-image: '../img/sprite.png';
@spritesheet-sprites: @chek-h @chek @cheked-h @cheked @edit @menu-arrow @menu-more @pager-next @pager-next @pager-prev @phone @radio-act-h @radio-act @radio-h @radio @slider-left @slider-right @sm @track @user;
@spritesheet: 91px 74px '../img/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
