<div class="content">
    <div class="wrap">
        <h1>О Компании</h1>
        <img class="img-left" src="http://placeimg.com/260/180/nature" alt="">
        <p>ООО «АльянсГрупп» - осуществляет свою деятельность по оптовой торговле широким ассортиментом продовольственных и непродовольственных товаров под торговой маркой «АльянсГрупп», созданной в 1996 году.</p>

        <p>В настоящее время ООО «АльянсГрупп» является  одним из лидирующих дистрибьютеров, осуществляющих оптовые комплексные автотранспортные поставки товаров в регионы Ямало-Ненецкого и Ханты-Мансийского автономных округов, а также по Свердловской, Челябинской, Курганской и Тюменской областям.</p>

        <img class="img-right" src="http://placeimg.com/240/160/nature" alt="">
        <p>ООО «АльянсГрупп» - осуществляет свою деятельность по оптовой торговле широким ассортиментом продовольственных и непродовольственных товаров под торговой маркой «АльянсГрупп», созданной в 1996 году. В настоящее время ООО «АльянсГрупп» является  одним из лидирующих дистрибьютеров, осуществляющих оптовые комплексные автотранспортные поставки товаров в регионы Ямало-Ненецкого и Ханты-Мансийского автономных округов, а также по Свердловской, Челябинской, Курганской и Тюменской областям.</p>

        <p>ООО «АльянсГрупп» - осуществляет свою деятельность по оптовой торговле широким ассортиментом продовольственных и непродовольственных товаров под торговой маркой «АльянсГрупп», созданной в 1996 году.</p>


        <p>В настоящее время ООО «АльянсГрупп» является  одним из лидирующих дистрибьютеров, осуществляющих оптовые комплексные автотранспортные поставки товаров в регионы Ямало-Ненецкого и Ханты-Мансийского автономных округов, а также по Свердловской, Челябинской, Курганской и Тюменской областям.</p>

        <p>ООО «АльянсГрупп» - осуществляет свою деятельность по оптовой торговле широким ассортиментом продовольственных и непродовольственных товаров под торговой маркой «АльянсГрупп», созданной в 1996 году. В настоящее время ООО «АльянсГрупп» является  одним из лидирующих дистрибьютеров, осуществляющих оптовые комплексные автотранспортные поставки товаров в регионы Ямало-Ненецкого и Ханты-Мансийского автономных округов, а также по Свердловской, Челябинской, Курганской и Тюменской областям.</p>

        <p>ООО «АльянсГрупп» - осуществляет свою деятельность по оптовой торговле широким ассортиментом продовольственных и непродовольственных товаров под торговой маркой «АльянсГрупп», созданной в 1996 году.</p>

        <p>В настоящее время ООО «АльянсГрупп» является  одним из лидирующих дистрибьютеров, осуществляющих оптовые комплексные автотранспортные поставки товаров в регионы Ямало-Ненецкого и Ханты-Мансийского автономных округов, а также по Свердловской, Челябинской, Курганской и Тюменской областям.</p>
    </div>
</div>