<div class="slider">
    <div class="slider-inn">
        <a href="#" class="slider-one">
            <img src="http://placeimg.com/210/150/nature" alt="">
            <span>Продукты питания</span>
        </a>
        <a href="#" class="slider-one">
            <img src="http://placeimg.com/210/150/nature" alt="">
            <span>Кондитерские изделия</span>
        </a>
        <a href="#" class="slider-one">
            <img src="http://placeimg.com/210/150/nature" alt="">
            <span>Продукты питания</span>
        </a>
        <a href="#" class="slider-one">
            <img src="http://placeimg.com/210/150/nature" alt="">
            <span>Промышленные товары</span>
        </a>
        <a href="#" class="slider-one">
            <img src="http://placeimg.com/210/150/nature" alt="">
            <span>Продукты питания</span>
        </a>
        <a href="#" class="slider-one">
            <img src="http://placeimg.com/210/150/nature" alt="">
            <span>Семена</span>
        </a>
    </div>
</div>